<template>
  <q-page class="page--login">
    <div class="overlay-login"></div>
    <h1 class="page__title">Login</h1>
    <LoginForm/>
    <router-link
      to="#"
      class="page__link"
    >
      Esqueci Senha
    </router-link>
    <router-link
     to="/register"
     class="page__link"
     >
      Cadastro
     </router-link>
  </q-page>
</template>

<script>
import LoginForm from '../../components/Forms/LoginForm'

export default {
  components: {
    LoginForm
  }
}
</script>

<style>
  .overlay-login{
  background: #4D108A;
  height: 100vh;
  mix-blend-mode: normal;
  position: absolute;
  opacity: 0.72;
  width: 100%;
  }

  .page--login {
    background-image: url('../../assets/bg--login.png');
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page__title {
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
    z-index: 1;
  }

  .page__link {
    color: inherit;
    margin-bottom: 5px;
    text-decoration: none;
    z-index: 1;
  }
</style>
