<template>
 <q-page class="page">
  <div class="overlay-register"> </div>
    <h1 class="page__title">Cadastro</h1>
    <RegisterForm/>
    <router-link class="page__link" to="/login">Já tem um cadastro</router-link>
 </q-page>
</template>

<script>
import RegisterForm from '../../components/Forms/RegisterForm'

export default {
  components: {
    RegisterForm
  }
}
</script>

<style>
  *, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .overlay-register {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: #713491;
  mix-blend-mode: normal;
  opacity: 0.73;
  }

  .page {
    background-image: url('../../assets/bg--login.png');
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page__title {
    font-size: 30px;
    text-align: center;
    z-index: 1;
  }

  .page__link {
    color: inherit;
    text-decoration: none;
    z-index: 1;
  }
</style>
