<template>
  <q-page>
    <q-tabs
        v-model="tab"
        indicator-color="primary"
        class="bg-white shadow-2"
      >
        <q-tab name="home" label="Home" />
        <q-tab name="trending" label="Trending" />
        <q-tab name="popular" label="Popular" />
        <q-tab name="playlist" label="Playlist" />
  </q-tabs>

  <figure class="figure-dashboard">
    <router-link to="/profile/video">
      <q-icon class="figure__icon" color="primary" :name="matPlayArrow"/>
    </router-link>
  </figure>

  <div class="card">
    <section class="container" v-for="i in 4" :key="i">
      <PreviewVideo/>
    </section>
  </div>
  </q-page>
</template>

<script>
import PreviewVideo from '../../components/Cards/PreviewVideo'
import { matPlayArrow } from '@quasar/extras/material-icons'

export default {
  created () {
    this.matPlayArrow = matPlayArrow
  },
  data () {
    return {
      tab: 'home'
    }
  },
  components: {
    PreviewVideo
  }
}
</script>

<style>
  *, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .figure-dashboard {
    align-items: center;
    background-image: url(../../assets/header-video.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 40vh;
  }

  .figure__icon {
    border: 2px solid #ef5350;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
</style>
