<template>
  <q-page>
    <div class="card-following">
      <section
        class="container-following"
        v-for="i in 6" :key="i"
      >
        <PreviewFriend/>
      </section>
    </div>
  </q-page>
</template>

<script>
import PreviewFriend from '../../components/Cards/PreviewFriend'

export default {
  components: {
    PreviewFriend
  }
}
</script>

<style>
  .card-following {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    justify-content: center;
  }
</style>
