<template>
  <q-page>
   <q-tabs
        v-model="tab"
        indicator-color="primary"
        class="bg-white shadow-2"
      >
        <q-tab name="latest" icon="mail" label="Latest" />
        <q-tab name="popular" :icon="matWhatshot" label="Popular" />
        <q-tab name="playlist" :icon="matPlaylistPlay" label="Playlist" />
    </q-tabs>

    <div class="card-gallery">
        <section class="container" v-for="i in 6" :key="i">
          <router-link class="gallery__link" to="/profile/dashboard">
            <PreviewVideo/>
          </router-link>
        </section>
    </div>
  </q-page>
</template>

<script>
import { matWhatshot, matPlaylistPlay } from '@quasar/extras/material-icons'
import PreviewVideo from '../../components/Cards/PreviewVideo'

export default {
  created () {
    this.matWhatshot = matWhatshot
    this.matPlaylistPlay = matPlaylistPlay
  },
  data () {
    return {
      tab: 'latest'
    }
  },
  components: {
    PreviewVideo
  }
}

</script>

<style>
  .card-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    justify-content: center;
    margin-top: 10px;
  }

  .gallery__link {
    color: #757575;
    text-decoration: none;
  }
</style>
