<template>
  <q-page>
    <header class="header">
      <div class="overlay">
      </div>
      <figure class="header__figure">
      </figure>
      <div class="header__title">
        <h1 class="title__principal">Lizzie Aguilar</h1>
        <h2 class="title__subtitle">Video Editor</h2>
      </div>
    </header>
      <section
        class="social"
      >
        <div
          class="social__likes"
        >
          <p>231</p>
          <p>Likes</p>
        </div>
        <div
          class="social__follow"
        >
          <p>657</p>
          <p>Following</p>
        </div>
        <div
          class="social__followers"
        >
          <p>546</p>
          <p>Followers</p>
        </div>
      </section>
    <div
      class="card"
    >
      <section
        class="container" v-for="i in 2" :key="i"
      >
        <router-link
          class="profile__link"
          to="/profile/dashboard"
        >
          <PreviewVideo/>
        </router-link>
      </section>
    </div>
  </q-page>
</template>

<script>
import PreviewVideo from '../../components/Cards/PreviewVideo'
export default {
  components: {
    PreviewVideo
  }
}
</script>

<style>
  *, p, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header__figure {
    background-image: url('../../assets/Bitmap.png');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99999999;
    height: 50vh;
    width: 100vw;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45vh;
    margin-left: 15px;
    position: absolute;
  }

  .overlay {
    background: linear-gradient(180deg, rgba(85, 85, 85, 0.0001) 50%, rgba(85, 85, 85, 0.774966) 91.35%);;
    height: 50vh;
    position: absolute;
    width: 100%;
  }

  .title__principal{
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
    line-height: 0;
  }

  .title__subtitle {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }

  .social {
    background: #ef5350;
    border-radius: 8px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -40px;
    height: 80px;
    width: 300px;
    position: relative;
  }

  .social__likes {
    margin-left: 15px;
  }

  .social__followers {
    margin-right: 15px;
  }

  .social__likes, .social__follow, .social__followers {
    text-align: center;
  }

  .card {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .profile__link {
    color: inherit;
    text-decoration: none;
  }

</style>
