<template>
  <q-page class="page-detail">
    <q-card class="my-card">
      <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />

      <q-card-section class="section-profile">
        <figure class="section__figure">
          <img class="figure__profile-detail" src="../../assets/profile-pic.svg" alt="Profile Picture">
          <figcaption class="text-subtitle2">John Doe <br> 76k Views</figcaption>
        </figure>
        <p class="figure__btn-detail">Subscribe</p>
      </q-card-section>

    </q-card>

    <div class="card-detail">
      <section class="container" v-for="i in 4" :key="i">
        <PreviewVideo/>
      </section>
    </div>
  </q-page>
</template>

<script>
import PreviewVideo from '../../components/Cards/PreviewVideo'
export default {
  components: {
    PreviewVideo
  }
}
</script>

<style>
*, p, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .page-detail {
    color: #757575;
  }

  .section-profile {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .figure__profile-detail {
    height: 50px;
    width: 50px;
  }

  .figure__btn-detail {
    border: 2px solid #ef5350;
    border-radius: 50px;
    padding: 10px 25px 10px;
  }

  .card-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 10px;
  }
</style>
