<template>
    <section
      class="card-friend bg-primary"
    >
      <figure
        class="card-friend__fig"
      >
        <img
          alt="Friend Photo"
          src="../../assets/friend-profile.png"
          class="fig__img"
        >
      </figure>

      <h1
        class="card-friend__title"
      >
        Cory King
      </h1>

      <h2
        class="card-friend__subtitle"
      >
        Web developer
      </h2>

      <button
        class="card-friend__btn"
      >
        Unfollow
      </button>
    </section>
</template>

<script>
export default {

}
</script>

<style>
  .card-friend {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    margin: 10px 0;
    width: 150px;
  }

  .fig__img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .card-friend__title {
    color: #fff;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    line-height: 1rem;
    margin: 0;
  }

  .card-friend__subtitle {
    color: #fff;
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    line-height: 1rem;
    margin: 0;
  }

  .card-friend__btn {
    background: transparent;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
  }
</style>
