<template>
  <section
    class="my-card"
  >
    <img
      class="card__img"
      src="https://cdn.quasar.dev/img/mountains.jpg"
    >

    <p class="card__txt">Lorem ipsum dolor sit amet consectetur adipisicing</p>
    <p class="card__txt">Travel</p>
  </section>
</template>

<script>
export default {

}
</script>

<style>
  .my-card {
    margin-left: 15px;
  }

  .card__img {
    border-radius: 10px;
    width: 150px;
    height: 100px;
  }

  .card__txt {
    max-width: 180px;
  }
</style>
