<template>
    <q-page>
      <div class="position-btn full-width">
        <q-btn class="btn__login" unelevated rounded to="/login" color="primary" label="Login" />
        <q-btn class="btn__login" unelevated rounded to="/register" color="primary" label="Cadastro" />
      </div>
      <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        control-color="white"
        navigation
        padding
        height="100vh"
        class="bg-primary text-white shadow-1 rounded-borders"
      >
        <q-carousel-slide name="style" class="column no-wrap flex-center bg-modify">
          <h5 class="q-py-none">ShareVid</h5>
          <p>Best Video Sharing Platform around the globe</p>
        </q-carousel-slide>
        <q-carousel-slide name="slide2" class="column no-wrap flex-center bg-modify">
          <h5 class="q-py-none">ShareVid</h5>
          <p>Best Video Sharing Platform around the globe</p>
        </q-carousel-slide>
        <q-carousel-slide name="slide3" class="column no-wrap flex-center bg-modify">
          <h5 class="q-py-none">ShareVid</h5>
          <p>Best Video Sharing Platform around the globe</p>
        </q-carousel-slide>
        <q-carousel-slide name="slide4" class="column no-wrap flex-center bg-modify">
          <h5 class="q-py-none">ShareVid</h5>
          <p>Best Video Sharing Platform around the globe</p>
        </q-carousel-slide>
      </q-carousel>
    </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: 'style'
    }
  }
}
</script>

<style>
  *, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .bg-modify {
    background-image: url('../assets/bg--profile.png');
    background-size: cover;
  }

  .position-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 90px;
    z-index: 9999999;
  }

  .btn__login {
    width: 200px;
    margin-top: 5px;
  }
</style>
