<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title
         class="row justify-center header"
        >
          {{ title }}
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="menu"
    >

    <figure class="profile">
      <img
        alt="Profile pic"
        src="../assets/profile-pic.svg"
        class="profile__img"
      >
      <p> {{ user }} </p>
      <p>Web Developer</p>
    </figure>

    <ul
      class="list"
    >
      <li
        class="list__tasks"
      >
        <router-link
        to="/profile"
        class="tasks__links"
      >
        <q-icon
          color="white"
          :name="matPerson"
        />
         My Profile
      </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matLocalPlay"
        />
        <router-link
         to="#"
         class="tasks__links"
        >
         Activity
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matNotifications"
        />
        <router-link
         to="#"
         class="tasks__links"
        >
         Notifications
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matPeopleAlt"
        />
        <router-link
          to="/profile/following"
          class="tasks__links"
        >
         Friends
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matSms"
        />
        <router-link
          to="#"
          class="tasks__links"
        >
         Messages
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matPerson"
        />
        <router-link
          to="/profile/gallery"
          class="tasks__links"
        >
         Gallery
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matMiscellaneousServices"
        />
        <router-link
          to="#"
          class="tasks__links"
        >
         Settings
        </router-link>
      </li>
      <li
        class="list__tasks"
      >
        <q-icon
          color="white"
          :name="matExitToApp"
        />
        <button
          class="tasks__leave"
          @click="leaveAccount"
        >
         Leave Account
        </button>
      </li>
    </ul>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { matNotifications, matLocalPlay, matMiscellaneousServices, matPerson, matPeopleAlt, matStars, matSms, matExitToApp } from '@quasar/extras/material-icons'
export default {
  created () {
    this.matPerson = matPerson
    this.matPeopleAlt = matPeopleAlt
    this.matStars = matStars
    this.matSms = matSms
    this.matMiscellaneousServices = matMiscellaneousServices
    this.matLocalPlay = matLocalPlay
    this.matNotifications = matNotifications
    this.matExitToApp = matExitToApp
  },
  data () {
    console.log(this.$q.sessionStorage.getItem('User'))
    return {
      leftDrawerOpen: false,
      user: this.$q.sessionStorage.getItem('User').name
    }
  },
  mounted () {
    if (!this.$q.sessionStorage.getItem('User')) {
      this.$q.notify({
        position: 'top',
        color: 'red',
        message: 'Você não tem permissão'
      })
      this.$router.push('/')
    }
  },
  methods: {
    leaveAccount: function () {
      this.$q.sessionStorage.remove('User')
      this.$q.notify({
        position: 'top',
        color: 'primary',
        message: 'Voçê saiu da conta, volte sempre!'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .menu{
    background-color: #EF5350;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list {
    margin-top: 50px;
  }

  .list__tasks {
    list-style: none;
    margin-top: 10px;
  }

  .tasks__links {
    color: #fff;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    text-decoration: none;
  }

  .tasks__leave {
    background: transparent;
    border: none;
    color: inherit;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }

  .profile {
    margin-top: 50px;
  }

  .profile__img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
</style>
