<template>
  <q-form class="form" @submit="submit()">
    <q-input
      :rules="[val => !!val || 'Email não é válido', isValidEmail]"
      type="email"
      v-model="form.email"
      label="Email"
      class="form__input"
      label-color="white"
    />
    <q-input
      :rules="[val => val.length > 6 || 'O nome deve ter mais de 6 caracteres']"
      type="text" v-model="form.name"
      label="Nome Completo"
      class="form__input"
      label-color="white"
    />
    <q-input
      :rules="[val => val.length > 6 || 'O nome deve ter mais de 6 caracteres',
      val => val.length <= 50 || 'Coloque uma senha válida']"
      type="text" v-model="form.password"
      label="Password"
      class="form__input"
      label-color="white"
     />
    <q-input
      :rules="[val => val === form.password|| 'As senhas não são iguais']"
      type="text"
      v-model="form.confSenha"
      label="Confirme seu Password"
      class="form__input"
      label-color="white"
    />
    <q-btn
      type="submit"
      color="primary"
      class="form__btn"
      :icon="matTrendingFlat"
    />
  </q-form>
</template>

<script>
import { matTrendingFlat } from '@quasar/extras/material-icons'

export default {
  created () {
    this.matTrendingFlat = matTrendingFlat
  },
  data () {
    return {
      form: {
        email: '',
        name: '',
        password: '',
        confSenha: ''
      }
    }
  },
  methods: {
    isValidEmail () {
      const emailPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return emailPattern.test(this.form.email) || 'Invalid email'
    },
    submit () {
      this.$axios.post('api/register', this.form).then((res) => {
        console.log(res.data)
        if (res.data.status) {
          this.$q.sessionStorage.set('User', {
            name: this.form.name,
            status: true
          })
          this.$router.push('/profile')
          this.$q.notify({
            position: 'top',
            color: 'primary',
            message: res.data.message
          })
        } else {
          this.$q.notify({
            position: 'top',
            color: 'red',
            message: res.data.message
          })
        }
      }).catch(() => {
        this.$q.notify({
          position: 'top',
          color: 'red',
          message: 'Erro ao criar Usuario'
        })
      })
    }
  }
}
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    color: white;
    text-align: center;
    width: 300px
  }

  .form__btn {
    border-radius: 50px;
    margin: 20px 0 20px;
    width: 300px;
  }

</style>
